.stake-zone {
  margin-left: 30px;
  width: 50%;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  @media (max-width: 1049.98px) {
    margin: 0 auto;
    width: 100%;
  }
  &__wrapper {
    background:  linear-gradient(0deg, transparent 27%, rgba(193, 219, 216, 0.5) 100%);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    @media (max-width: 539.98px) {
      row-gap: 18px;
    }
  }
}

.details {
  color: #fff;
  &__title {
    font: 600 20px/24px Montserrat, sans-serif;
    margin-bottom: 10px;
    text-align: center;
  }
  &__time {
    text-align: center;
    margin-bottom: 20px;
  }
  &__teams {
    text-align: center;
    font: 600 24px/24px Montserrat, sans-serif;
    color: #FF5E00;
  }
}

.radio-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  @media (max-width: 539.98px) {
    flex-direction: column;
    row-gap: 10px;
  }

  label {
    user-select: none;
    background: #072207;
    border-radius: 10px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }

  input[type="radio"] {
    margin-right: 5px;
    display: none;
  }
}

  input:checked + label {
    color: #fff;
    background: #048765;
  }

.stake {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 160px;
  height: 60px;
  border: solid 1px #fff;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  font: 600 40px/46px Montserrat, sans-serif;
  color: #ED5C19;
}

.button {
  &__wrapper {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 20px;
  }
  &__btn {
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    box-shadow: 2px 2px 12px #20140f;
    font: 400 20px/24px Montserrat, sans-serif;
    transition: all 0.4s;
    user-select: none;
    &[disabled] {
      background: #818181;
      pointer-events: none;
      opacity: 0.5;
    }
    &:not([disabled]) {
      cursor: pointer;
      background: #ED5C19;
    }
    &:hover {
      background: #048765;
    }
  }
}